@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,500&display=swap");
body {
  font-family: "Montserrat";
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

@media (max-width: 767px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header__navigation ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

header .header__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  margin-right: 30px;
}

header .header__navigation ul li:not(:last-child) {
  margin-right: 42px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main__sector1 {
  width: 100%;
  background: url("../img/bgimage.png") 0 0/cover no-repeat;
  text-align: center;
}

main .main__sector1 h1 {
  margin: 220px 0 210px 0;
  font-size: 36px;
  font-family: "Montserrat";
  font-style: italic;
}

main .main__sector2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  main .main__sector2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
  }
}

main .main__sector2 .main__left-container {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  background: url("../img/left_image.png") 0 0/cover no-repeat;
}

main .main__sector2 .main__right-container {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  background-color: #176a86;
  padding: 55px 25px 35px 45px;
}

main .main__sector2 .main__right-container h1 {
  font-size: 36px;
  font-style: italic;
}

main .main__sector2 .main__right-container p {
  font-size: 24px;
  font-style: italic;
  margin: 30px 0 40px 0;
}

main .main__sector2 .main__right-container button {
  background: #8f1e09;
  background: -webkit-gradient(linear, left top, right top, from(#8f1d09), color-stop(93%, #ff2800));
  background: linear-gradient(90deg, #8f1d09 0%, #ff2800 93%);
  color: white;
  padding: 23px 90px 23px 90px;
  border-radius: 10px;
  font-size: 30px;
  font-style: italic;
}

main .main__sector3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  main .main__sector3 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .main__sector3 h1 {
  color: black;
  font-size: 48px;
  font-style: italic;
  margin: 65px 0 65px 0;
}

main .main__sector3 .main__containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 115px;
}

@media (max-width: 767px) {
  main .main__sector3 .main__containers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 80%;
  }
}

main .main__sector3 .main__containers .mini-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  min-height: 500px;
  padding: 0 30px 0 30px;
  background: #176a86;
  background: -webkit-gradient(linear, left top, right top, color-stop(42%, #176a86), to(#42a4c6));
  background: linear-gradient(90deg, #176a86 42%, #42a4c6 100%);
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 8px;
}

main .main__sector3 .main__containers .mini-container h2 {
  width: 100%;
  font-size: 36px;
}

main .main__sector3 .main__containers .mini-container p {
  font-size: 24px;
}

main .main__sector4 {
  width: 100%;
  background: #ff2800;
  background: -webkit-gradient(linear, left top, right top, color-stop(42%, #ff2800), to(#8f1e09));
  background: linear-gradient(90deg, #ff2800 42%, #8f1e09 100%);
  padding: 30px 0 50px 75px;
}

main .main__sector4 .main__sector4-in {
  max-width: 50%;
}

main .main__sector4 .main__sector4-in h1 {
  font-size: 48px;
  font-weight: 600;
  font-style: italic;
}

main .main__sector4 .main__sector4-in h1 span {
  font-weight: 400;
}

main .main__sector4 .main__sector4-in form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 90%;
  font-size: 30px;
  font-style: italic;
  margin-top: 30px;
}

main .main__sector4 .main__sector4-in form input {
  font-size: 26px;
  color: #cfcfcf;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

main .main__sector4 .main__sector4-in form #submit {
  color: white;
  background: #42a4c6;
  background: -webkit-gradient(linear, left top, right top, color-stop(42%, #42a4c6), to(#176a86));
  background: linear-gradient(90deg, #42a4c6 42%, #176a86 100%);
  max-width: 50%;
}

@media (max-width: 767px) {
  main .main__sector4 .main__sector4-in form #submit {
    max-width: 100%;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #bebebe;
  background-color: #131313;
  font-size: 20px;
  font-style: italic;
  padding: 48px 50px 48px 100px;
}

@media (max-width: 767px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer__right-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

footer .footer__left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__left-container li:not(:first-child) {
  margin-top: 10px;
}

footer .footer__right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
/*# sourceMappingURL=style.css.map */